<h1>Admin Log in</h1>

<%= form_tag "/admin/login" do %>

  <label> Email </label>
  <%= text_field_tag "email" %>
  
  <br>
  
  <label> Password </label>
  <%= password_field_tag "password" %>
  
  <br>

  <%= submit_tag "Login" %>
  
<% end %>
